<ion-header>
  <ion-toolbar>
    <ion-title>Login do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-img class="img-responsive" src="/assets/logonovo.jpg"></ion-img>
   

  <ion-item style="margin-bottom: 5%;">
    <ion-label  position="floating">E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item style="margin-bottom: 5%">
    <ion-label position="floating">Senha</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-button color="success" style="margin-bottom: 3%" expand="block" >Entrar</ion-button>
  <ion-button color="tertiary" expand="block" >Esqueceu sua senha?</ion-button>
  <ion-text style="margin-left: 46%">OU</ion-text>
  <ion-button color="medium" style="margin-bottom: 10%" expand="block" >Cadastre-se</ion-button>

</ion-content>
