<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-content>
<ion-img style="margin-top:2%" class="img-responsive" src="/assets/logo1.jpg"></ion-img>
  <div class="ion-text-center" style="margin-top: 4%;">
    <ion-title>Bem-Vinda(o)</ion-title>
    <h5>Esses são seu proximos clientes</h5>
  </div>

  <ion-list>
    <ion-item >
      <ion-label>Claudio</ion-label>
      <ion-button (click)="visualizar(cliente)">Visualizar</ion-button>
    </ion-item>
  
    <ion-item >
      <ion-label>Maria</ion-label>
      <ion-button (click)="visualizar(cliente)">Visualizar</ion-button>
    </ion-item>
  
    <ion-item > 
      <ion-label>Julia</ion-label>
      <ion-button (click)="visualizar(cliente)">Visualizar</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
