<ion-content>
<h4>⠀Selecione o(a) Podólogo(a)</h4>
<ion-img style="margin-top:2%" class="img-responsive" src="/assets/Google-Maps-740x388.jpg"></ion-img>


<ion-item>
  <ion-label position="floating">Selecione uma data</ion-label>
  <ion-datetime displayFormat="DD/MM/YYYY" min="2020-11-01" max="2030-12-31" value="2020-12-07T15:01:30.789"></ion-datetime>
</ion-item>





<ion-item>
  <ion-label>Selecione a Hora</ion-label>
  <ion-select interface="popover">
    <ion-select-option value="09:00">09:00</ion-select-option>
    <ion-select-option value="10:00">10:00</ion-select-option>
    <ion-select-option value="11:00">11:00</ion-select-option>
    <ion-select-option value="12:00">12:00</ion-select-option>
    <ion-select-option value="13:00">13:00</ion-select-option>
    <ion-select-option value="14:00">14:00</ion-select-option>
    <ion-select-option value="15:00">15:00</ion-select-option>
    <ion-select-option value="16:00">16:00</ion-select-option>
    <ion-select-option value="17:00">17:00</ion-select-option>
    <ion-select-option value="18:00">18:00</ion-select-option>
  </ion-select>
</ion-item>
<ion-button style="margin-top: 2%;" color="tertiary" expand="block"  (click)="visualizar()">Finalizar</ion-button>
</ion-content>