<ion-header>
  <ion-toolbar>
    <ion-title>Esqueceu se senha?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 5%;margin-left: 1%;">
  <ion-label  position="floating">Digite seu E-mail para recuperar sua senha</ion-label>
</div>
  <ion-item>  
    <ion-label position="floating"><ion-icon name="lock-closed-outline"></ion-icon> E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button color="medium" style="margin-top: 5%" expand="block" (click)="cadcliente()" >Enviar</ion-button>
  <ion-img style="margin-top: 25%;" class="img-responsive" src="/assets/logonovo.jpg"></ion-img>
</ion-content>
